{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blog_ish/style.css' %}" />

<h1>Welcome to the Beach Blog!</h1>

<a href="{% url 'blog:new_Post' %}" ><button type="button">Add a Post!</button></a></button>

{% if latest_blog_posts %}
    {% for post in latest_blog_posts %}
       <div class="Post"><a href="/blog/{{ post.id }}/"><p>{{ post.post_text }}</p></a></div>
    {% endfor %}
{% else %}
    <div class="Post">
        <p>No posts are available.</p>
    </div>
{% endif %}
