{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blog_ish/style.css' %}" />

<h1>Aloha! This is post # {{post.pk}}</h1>

<a href="{% url 'blog:index' %}" id="home"><button type="button">Back to Home~</button></a></button>

<div class="Post">
    <p>
    {{ post.post_text }}
    </p>
    
        {% for comment in post.comment_set.all %}
            <div class="Comment"><p>{{ comment.comment_text }}</p></div>
        {% endfor %}

</div>

<a href="{% url 'blog:comment' post.id %}" ><button type="button">Add a Comment!</button></a></button>
    